@import "~compass-mixins/lib/compass/css3";
/*contact*/
.contact {
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background: #78c1ec7e;
  text-align: center;
  overflow: hidden;
}

.contact button,
.button {
  @include border-radius(25px);
  background: #78c1ec6e;
  border: none;
  //   display: block;
  float: center;
  cursor: pointer;
  padding: 7px 17px;
  &:hover {
    background: #78c1ece7;
  }
  &:active {
    background: #78c1ece7;
  }
}

.email {
  display: block;
  float: left;
  position: relative;
  width: 100%;

  .envelope {
    display: block;
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 500px;

    .paper {
      display: block;
      left: 0;
      position: absolute;
      top: 0;
    }

    .back {
      &:before {
        content: "";
        display: block;

        border-style: solid;
        border-width: 200px 250px 0px 250px;
        border-color: transparent transparent #394867 transparent;
        height: 0px;
        width: 0px;
      }
      &:after {
        content: "";
        display: block;

        background-color: #394867;
        width: 500px;
        height: 200px;
      }
      &.animate:before {
        @include transition(border-width);
        @include transition-duration(1s);
        border-width: 0 250px 200px 250px;
      }
    }

    .front {
      top: 200px;
      &:after {
        content: "";
        display: block;
        // background-color: #808285;
        background-color: #14274e;
        height: 100px;
        width: 500px;
      }
      &:before {
        content: "";
        display: block;
        border-style: solid;
        border-width: 200px 250px 0px 250px;
        // border-color: transparent #808285;
        border-color: transparent #14274e;
        height: 0px;
        width: 0px;
      }
    }

    .note {
      @include opacity(0);
      display: block;
      height: 280px;
      margin: 0 auto;
      position: relative;
      top: 200px;
      width: 500px;

      &.animate {
        @include transition-property(top);
        @include transition-duration(2s);
        @include transition-delay(1s);
        @include opacity(1);
        top: 50px;
      }
    }

    .form-wrapper {
      //   background: #78c1ecd2;
      background: #9ba4b4;
      color: #394867;
      height: auto;
      min-height: 300px;
      margin: 10px auto 0 auto;
      padding: 20px;
      width: 90%;
    }
  }
}
