.stack {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #4d76a5 0%, #090a0f 100%);
  overflow: hidden;
}


// for the buttons 
.stack .btn{
  // margin: 6vh;
  margin: 6vh;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  white-space: normal;
  -webkit-appearance: none;
}

.container-fluid {
  justify-content: center;
  padding-top: 20vh;
  width: auto;
  margin-left: 80px;
  padding-left: 0;
}

// #my-btns{
//   justify-content: center;
//   padding-top: 20vh;
//   margin: 6vh;
//   white-space: normal;
//   height: 100%;
// }


.btn-rounded {
  border-radius: 5rem;
  color: beige;
  border: 3px azure solid;
  box-shadow: 0 1px 0 yellow;
  -webkit-appearance: none;
}

.btn-outline-secondary:hover {
  background-color: azure;
  color: black;
  -webkit-appearance: none;
}

.btn-iconed {
  transition: 0.15s ease-in-out;
  padding-left: 3rem;
  padding-right: 3.5rem;
  font-size: 2rem;
  -webkit-appearance: none;
}

.btn-iconed [class~=oi],
.btn-iconed [class~=fa],
.btn-iconed [class~=typcn]::before,
.btn-iconed [class~=mdi]::before,
.btn-iconed [class~=icon]::before {
  opacity: 0;
  transform-origin: left right;
  transform: translateX(-10px) scale(1.25);
  transition: 0.15s ease-out;
  -webkit-appearance: none;
}

.btn-iconed [class=spn] {
  position: relative;
  left: -9px;
  transform-origin: left right;
  transform: translateX(-9px);
  transition: 0.2s ease-in-out;
  -webkit-appearance: none;
}

.btn-iconed:hover [class~=fa],
.btn-iconed:hover [class~="typcn"]::before {
  opacity: 1;
  transform: translateX(0px) scale(0.75);
}

.btn-iconed:hover [class=spn] {
  left: 0px;
}


// for the star background 
@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#smlstars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#midstars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#lrgstars {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}